/* .outer {
    width: 300px;
    height: 200px;
    background-color: lightblue;
    margin: 20px;
}

.inner {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    margin: 10px;
} */
